#langchain
#streamlit
#python-dotenv
#langchain_community
#langchain_groq
#langchain_text_splitters
#sentence-transformers
#ipykernel
#openpyxl
#faiss-cpu


pandas 
spacy 
transformers 
datasets 
accelerate 
openpyxl 
langchain
